@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {

    --font1: Verdana, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;

}

* {

    padding: 0px;
    margin: 0px;

}

html, body {

    font-family: var(--font1);

    background-color: darkgray;

    min-height: 100vh;

}

header {

    text-align: center;
    color: white;
    background-color: black;

    padding: 50px 0px;

}

header > h1 {

    font-family: var(--font2);
    font-size: 3.5em;
    font-variant: small-caps;

}

header a, footer a {

    color: white;
    text-decoration: none;
    font-weight: bolder;
    
}

header a:hover, footer a:hover {
    
    text-decoration: underline;

}

section {

    font-family: var(--font3);
    font-size: 3vw;
    
    line-height: 2em;

    padding: 10vh 0px 10vh 40px;
    
}

.normal {
    
    background-color: #ebebeb;

}

.imagem {
    
    color: white;
    background-color: rgb(29, 29, 29);

}

.imagem > p {

    display: inline-block;

    background-color: #000000b4;

    padding: 10px;

    border-radius: 5px 30px 30px 30px;

    /*flood-opacity: 3%;*/

}

footer {

    text-align: center;

    color: white;
    background-color: black;

    padding: 40px 0px;

}

.imga {
    
    max-width: 500px;
    
    margin: auto;
    
}

footer img {
    
    width: 100%;
    
}